* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1C76AD;
}
body button.reset {
  position: absolute;
  top: 5vh;
  right: 5vw;
  display: none;
  border: 3px solid blanchedalmond;
  background-color: #1C76AD;
  color: blanchedalmond;
  padding: 1%;
  cursor: pointer;
}
body audio {
  display: none;
}
body section.button-area {
  height: 10vh;
  width: 200px;
  display: none;
}
body section.button-area div {
  display: flex;
  justify-content: center;
  align-items: center;
}
body section.button-area div button.direction {
  height: 30px;
  width: 40px;
  margin-top: 5px;
  margin-left: 5px;
  border: 3px solid blanchedalmond;
  background-color: #1C76AD;
  color: blanchedalmond;
  padding: 1%;
  cursor: pointer;
}

.game-board {
  height: 80vh;
  width: 40vh;
  background-color: #071C1F;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  gap: 1px;
}
.game-board > div {
  height: 100%;
  width: 100%;
}
.game-board article {
  grid-column: 1/-1;
  grid-row: 1/-1;
  background-color: #1C76AD;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.game-board article h1 {
  font-size: min(10vw, 60px);
}
.game-board article .start__button {
  position: static;
  display: inline;
  border: 3px solid blanchedalmond;
  background-color: #1C76AD;
  color: blanchedalmond;
  font-size: min(3vw, 15px);
  padding: 5%;
  cursor: pointer;
}

@media (hover: none) and (pointer: coarse) {
  body section.button-area {
    display: block;
  }
  body button.reset {
    top: 90vh;
    left: 5vw;
    width: auto;
  }
}